{% extends 'base/main.html' %}

{% block content %}

<div class="login form">
    <header>Register</header>
    <form method="POST">
        {% csrf_token %}
        <label>{{ form.username.label }}</label>
        {{ form.username }}
        <label>{{ form.password1.label }}</label>
        {{ form.password1 }}
        <label>{{ form.password2.label }}</label>
        {{ form.password2 }}
        <input class="button" type="Submit" value="Register">
    </form>
    <div class="signup">
      <span class="signup">Already have an account?
        <a href="{% url 'login' %}">Login</a>
      </span>
    </div>
</div>

{% endblock content %}